<div class="container">
  <app-warning-alert></app-warning-alert>
  <app-success-alert app-success-alert></app-success-alert>
  <hr />

  <input [(ngModel)]="username" />
  <p>{{ username }}</p>
  <p [textContent]="username"></p>

  <input (input)="onInputChange($event)" />
  <button [disabled]="!username" (click)="onUpdateUsername()">Button</button>
  <hr />

  <app-details></app-details>
  <hr />

  <app-add-server (serverAdded)="onServerAdded($event)"></app-add-server>
  <app-server *ngFor="let server of servers" [server]="server"></app-server>
  <hr />
</div>
