<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Filter numbers
      </button>
      <br /><br />
      <ul class="list-group">
        <div *ngIf="onlyOdd" [ngClass]="{ odd: onlyOdd }">
          <li
            class="list-group-item"
            *ngFor="let oddNumber of oddNumbers"
            [ngStyle]="{ backgroundColor: onlyOdd ? 'lightBlue' : 'red' }"
          >
            {{ oddNumber }}
          </li>
        </div>
        <!-- <div *ngIf="!onlyOdd" [ngClass]="{ even: !onlyOdd }">
          <li
            class="list-group-item"
            *ngFor="let evenNumber of evenNumbers"
            [ngStyle]="{ fontWeight: evenNumber % 2 === 0 ? '800' : '200' }"
          >
            {{ evenNumber }}
          </li>
        </div> -->

        <!-- CUSTOM STRUCTURAL DIRECTIVE -->
        <div *appUnless="onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let evenNumber of evenNumbers"
            [ngStyle]="{ fontWeight: evenNumber % 2 === 0 ? '800' : '200' }"
          >
            {{ evenNumber }}
          </li>
        </div>
      </ul>

      <!-- STRUCTURAL DIRECTIVES BEHIND THE SCENES -->
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
      <ng-template [ngIf]="!onlyOdd">
        <p>Only even</p>
      </ng-template>

      <!-- CUSTOM DIRECTIVES -->
      <p appBasicHighlight>App basic highlight directive</p>
      <p [appBetterHighlight]="'green'" [defaultColor]="'lightgreen'">
        App better highlight directive
      </p>
    </div>
  </div>
</div>
