<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
      <form [formGroup]="form" (ngSubmit)="submitForm()">
        <!-- PROJECT NAME -->
        <div class="form-group">
          <label for="project-name">Project Name</label>
          <input type="text" formControlName="projectName" id="project-name" />
          <p
            *ngIf="
              !form.get('projectName').valid && form.get('projectName').touched
            "
          >
            <span *ngIf="form.get('projectName').errors['required']"
              >Project name required</span
            >
            <span *ngIf="form.get('projectName').errors['forbiddenProjectName']"
              >Forbidden project name</span
            >
          </p>
        </div>

        <!-- EMAIL -->
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" formControlName="email" id="email" />
          <p *ngIf="!form.get('email').valid && form.get('email').touched">
            <span *ngIf="form.get('email').errors['email']"
              >Email not valid</span
            >
            <span *ngIf="form.get('email').errors['required']"
              >Email required</span
            >
          </p>
        </div>

        <!-- DROPDOWN -->
        <div class="form-group">
          <label for="dropdown">State</label>
          <select formControlName="dropdown" id="dropdown">
            <option value="stable">Stable</option>
            <option value="critical">Critical</option>
            <option value="finished">Finished</option>
          </select>
          <p
            *ngIf="!form.get('dropdown').valid && form.get('dropdown').touched"
          >
            Dropdown is not valid
          </p>
        </div>
        <div>
          <button type="submit" type="submit">Submit form</button>
        </div>
      </form>
      <p *ngIf="!form.valid && form.touched">Form is not valid</p>
    </div>
  </div>
</div>
